{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная страница</title>
</head>
<body>
<a href="{% static '123.txt' %}">qwerfq2refgwq3r</a>




{% for item in test%}
<h1>{{ item.name }}</h1>

<h3>{{ item.category.slug }}</h3>
<p>{{ item.text }}</p>
<p>{{ item.price }}</p>


<a href="{{item.slug}}">Подробнее</a>
	{% if item.img %}
	<img src="{{item.img.url}}" alt="">
	{% endif %}
{% endfor %}	

</body>
</html>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed inventore, consectetur id, repudiandae qui aliquam molestias harum fugiat atque dignissimos sequi ipsum? Error sequi deserunt nam magni voluptate blanditiis perferendis fuga recusandae architecto voluptatem mollitia voluptatum harum ducimus provident laboriosam voluptates nemo quidem totam voluptatibus quod, reprehenderit minus culpa consequuntur!